.container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : var(--containerPadding);
    height         : 60px;
}

.leftContainer {
    display    : flex;
    align-items: center;
    height     : 100%;
}

.logo {
    height: 100%;
    width : auto;
}

.assignmentText {
    margin: var(--containerMargin);
}

.subtext {
    margin    : 0;
    margin-top: 16px;
    color     : var(--subtextColor);
}

.linkedinIcon {
    color    : #0E78A8;
    font-size: 28px;
    cursor   : pointer;
    transition: var(--iconTransition);
}

.linkedinIcon:hover {
    transform: scale(1.4);

}